<!DOCTYPE html>
<html>
<head>
    <title>Chat Display</title>
    <link rel="stylesheet" href="/static/styles/chat.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <meta name="chat_name_js" CONTENT="{{chat_name}}">
    <script src="/static/scripts/chat.js"></script>

</head>
<body>
    <h1>Chat: {{ slug }}</h1>
    <a href="/">Voltar</a>
    {% for message in messages %}
    {% if message[3] == user1 %}
        <!-- sender -->
        <div class="message-box" style="background-color: bisque;">
            <p>{{ message[1] }}</p>
            <div class="message-box-sender">
                <p></p>
                <p>Você</p>
            </div>
        </div>
    {% else %}
        <!-- receptor -->
        <div class="message-box" style="background-color: beige;">
            <p>{{ message[1] }}</p>
            <div class="message-box-sender">
                <p>sender:</p>
                <p>{{ message[3] }}</p>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    <form id="message-form">
        <input type="hidden" name="chat_name" id="chat_name" value="{{ chat_name }}">
        <input type="hidden" name="user_sender" id="user_sender" value="{{ user1 }}">
        <input type="hidden" name="user_receptor" id="user_receptor" value="{{ user2 }}">
        <input type="text" name="message" id="message_send">
        <input type="button" value="enviar" onclick="submitForm()">
    </form>
   
        
</body>
</html>