/* Estilo para a tabela */
table {
    width: 50%;
    border-collapse: collapse;
    margin:  0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para o botão de menu */
.menu:hover .menu-content {
    display: block;
}